<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">

      <div class="row">
        <h1 class="col-lg-12"> Gestor de clientes</h1>
        <button class = "btn btn-danger col-lg-4 col col-xs-12" type="button" name="button" on-click="obtenerClientes">Obtener Clientes</button>
      </div>



    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisorApp extends Polymer.Element {
      static get is() { return 'mi-visor-app'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
      }
    }

    window.customElements.define(MiVisorApp.is, MiVisorApp);
    </script>
  </dom-module>
